           /*formatação das fontes*/

@font-face {
  /*fontes externas*/
  font-family: 'Roboto';
  /*criar variavel para fonte*/
  src: url('projeto-glass-html5/_fonts/Roboto-Regular.ttf');
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  max-width: 1920px;
}

/* cabeçalho e menu nav */

header#cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

nav#menu {
  width: 100%;
}

nav#menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-transform: uppercase;
}

nav#menu li {
  background-color: #0077c2;
  padding: 10px;
  /*espaço dentro dos objetos*/
  margin: 2px;
  /*espaço fora dos objetos*/
  transition: 1s;
  /*duração da transição*/
  border-radius: 12px;
  font-size: 1rem;
}

nav#menu li:hover {
  /*efeito ao passar o mouse*/
  background-color: #5c5c5c;
  transition: 1s;
}

nav#menu a {
  /* a (âncora ou link) */
  color: white;
  /*tirar sublinhado*/
  text-decoration: none;
}

.apresentacao h1{
 font-size: 3rem;
    color: rgb(80, 78, 78);
    text-shadow: 1px 1px 1px black; 
    /* padding: 0px;
    margin-bottom: 0px; */


}

.apresentacao h2{
  font-size: 13pt;
  color: #cecece;
  background-color: #ffffff;

  
}