/*formatação do spec html (segunbdo arquivo de html)*/
@font-face {
  /*fontes externas*/
  font-family: 'Roboto';
  /*criar variavel para fonte*/
  src: url('projeto-glass-html5/_fonts/Roboto-Regular.ttf');
}
section#conteudo {
    width: 900px;
    margin: auto;
}
section#conteudo img{
  width:50%
}

iframe#frame-spec {
    width: 
    400px;
    height: 280px;
    border: none;
    
}
iframe#frame-spec ::-webkit-scrollbar  {
 display: none;
}

header#cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 0 auto;
  }
  
body {
    max-width: 1920px;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to right, #cccbc8, #f5f4f1);
    animation: gradient 5s infinite;
  }