/*formatação do spec html (segunbdo arquivo de html)*/

section#conteudo {
    width: 100px;
    margin: auto;
}
iframe#frame-spec {
    width: 
    400px;
    height: 280px;
    border: none;
    
}
iframe#frame-spec ::-webkit-scrollbar  {
 display: none;
}